<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BadBroker</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/TradeButton.js"></script>
</head>
<body>
    <div>
        <button id="trade">getJSON</button>
    </div>
</body>
</html>
